<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h2 class="has-text-black hero has-text-weight-bold is-size-1">Coefficient - Available Now</h2>
            <a id="contact-button"
            class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
            href="https://open.spotify.com/album/5lHsPCSuWgtdsqGlhLh3nG" target="_blank" rel="noopener noreferrer nofollow" >Spotify</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://music.apple.com/us/album/coefficient-single/1592344710?app=music" target="_blank" rel="noopener noreferrer nofollow" >Apple Music</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://youtube.com/playlist?list=OLAK5uy_mL65ykjCcn597W3hidPcG3af4wWgCGChs" target="_blank" rel="noopener noreferrer nofollow" >YouTube</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://listen.tidal.com/album/202726986" target="_blank" rel="noopener noreferrer nofollow" >Tidal</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://music.amazon.com/albums/B09KJCZ162" target="_blank" rel="noopener noreferrer nofollow" >Amazon</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://music.youtube.com/browse/MPREb_NEbMZk3qiwg" target="_blank" rel="noopener noreferrer nofollow" >YouTube</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://www.deezer.com/album/188108382" target="_blank" rel="noopener noreferrer nofollow" >Deezer</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://lunchspectre.bandcamp.com/album/coefficient" target="_blank" rel="noopener noreferrer nofollow" >Bandcamp</a>

            <iframe width="100%" height="420" src="https://www.youtube.com/embed/-WjhUxE60qI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <hr class="is-size-1">
            <div class="is-clearfix"></div>
            <h2 class="has-text-black hero has-text-weight-bold is-size-1">Listen to Rainbow Worm (2020)</h2>

            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://open.spotify.com/album/65WEUR96qiooyIT7SC3f9q" target="_blank" rel="noopener noreferrer nofollow" >Spotify</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://music.apple.com/us/album/rainbow-worm/1541503769?app=music" target="_blank" rel="noopener noreferrer nofollow" >Apple Music</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://youtube.com/playlist?list=OLAK5uy_niRAq2CpODv_gH6GcVGXmJfHHv52N6vi4" target="_blank" rel="noopener noreferrer nofollow" >YouTube</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://listen.tidal.com/album/163107309" target="_blank" rel="noopener noreferrer nofollow" >Tidal</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://music.amazon.com/albums/B08NZDQ1Y1" target="_blank" rel="noopener noreferrer nofollow" >Amazon</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://music.youtube.com/browse/MPREb_VEV5Z7L52Qm" target="_blank" rel="noopener noreferrer nofollow" >YouTube</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://www.deezer.com/album/188108382" target="_blank" rel="noopener noreferrer nofollow" >Deezer</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href="https://napster.com/lunch-spectre/rainbow-worm" target="_blank" rel="noopener noreferrer nofollow" >Napster</a>
            <a id="contact-button"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                href=https://lunchspectre.bandcamp.com/album/rainbow-worm" target="_blank" rel="noopener noreferrer nofollow" >Bandcamp</a>

                <hr class="is-size-1">
                <h2 class="has-text-black hero has-text-weight-bold is-size-1">Contact</h2>

            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send us an Email
            </a>
            {% endunless %}
            {% unless site.instagram_username ==  %}
            <a id="contact-button" href="http://www.instagram.com/{{site.instagram_username}}"
                target="_blank"
                class="button is-rounded is-uppercase has-text-weight-normal is-black has-text-weight-semibold column is-two-fifths">
                <i class="fab fa-instagram"></i>Say hello on Instagram!
            </a>

            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
            </h3>
            <div class="column is-full is-size-3">
                {% if false %}
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
